---
#layout: null
layout: page
section-type: team
title: Team
permalink: team
---
## Team

<hr>

<h4>Core Members</h4>

<div class="row">
    {% for contributor in site.github.organization_members %}
        {% assign member = site.data.members[contributor.login] %}
        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <a href="https://github.com/{{ contributor.github }}" target="_blank">
                  <img src="{{ contributor.avatar_url }}" class="img-rounded img-responsive" alt="@{{ contributor.login }}">
                </a>
                    
                <b>{{ member.name }}</b><br>
                <a href="https://github.com/{{ contributor.login }}" target="_blank">@{{ contributor.login }}</a>
              </div>
            </div>
        </div>
    {% endfor %}
</div>

<hr>

<h4>Contribuidores</h4>

<div class="row">
    {% for contributor in site.github.contributors %}
        {% assign member = site.data.members[contributor.login] %}
        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <a href="https://github.com/{{ contributor.login }}" target="_blank">
                  <img src="{{ contributor.avatar_url }}" class="img-rounded img-responsive" alt="@{{ contributor.login }}">
                </a>
                    
                <b>{{ member.name }}</b><br>
                <a href="https://github.com/{{ contributor.login }}" target="_blank">@{{ contributor.login }}</a> <br>
              </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h3><a href="https://github.com/PHPSC/phpsc.github.io#fork-destination-box" target="_blank"><i class="fa fa-code-fork fa-4x"></i></a></h3>
                
            <b>Você aqui!</b>
          </div>
        </div>
    </div>
</div>
