
<!-- Contact Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      {{ page.content | markdownify }}

      {% if site.email %}
        {% if site.email contains '@' %}
          {% assign newemail = site.email | split: '@' %}
            <p>
            <script>
              function join_at_email(user, domain){
              return (user && domain)?(user + "@" + domain):"";
              }
              document.write('<a href="mailto:'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '">'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '</a>'
              );
              var timerApp = angular.module('timerApp', []);

timerApp.controller('CountdownController', ['$scope', '$timeout',  
  function($scope, $timeout) {
    $scope.count = 0;
		$scope.decrement = function() {
          $scope.count--;
          if ($scope.count) {
              	$timeout($scope.decrement, 1000);
              	//1s == 1000ms  1m == 60000ms 1h == 3600000ms 
              	//Font: http://extraconversion.com/pt/tempo/horas
              
              } 
          if ($scope.count <= 0) {	
             		$scope.count = 0;	
              }
      };
      $scope.decrement();
  }
]);
              </script>
            </p>
        {% else %}
          <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        {% endif %}
      {% endif %}

      {% include social-buttons.html %}

    </div>
  </div>
  <div class="count" ng-app="timerApp" ng-controller="CountdownController">
  <h1 ng-init="count=5" ng-show="count--">{{count}} AQUI </h1>
</div>
</section>

<!-- Contact End -->
